# ignore/blacklist everything
# DO NOT blacklist any filename with any extension. Basically boils down to do not ignore any file.
# DO NOT blacklist any directory. The / at last means we are dealing with directory.

*

!*.*

!*/

tempCodeRunnerFile.cpp
.vscode

